body {
    font-family: Lato;
}

body.boxed {
    background-color: #f9f9f9;
}

a {
    cursor: pointer;
}
/*-- START owl-carousel ---*/
.owl-carousel {
    .owl-dots {
        display: none;
    }

    .owl-prev, .owl-next {
        padding-left: 8px;

        span {
            font-size: 37px;
            color: #fff;
            line-height: 22px;
        }
    }

    .owl-next {
        padding-left: 5px;
    }
}

.featured-products-carousel {
    .owl-nav {
        display: none;
    }
}

.product-single {
    .owl-carousel {
        .owl-nav {
            margin: 0 !important;

            [class*=owl-] {
                position: absolute;
                top: 50%;
                margin: -20px 0 0 0;
                padding: 0;
                width: 40px;
                height: 40px;
                border-radius: 0;
                font-size: 30px;
                line-height: 30px;
                border: solid 3px #232323;
                background: transparent;
                color: #232323;

                span {
                    color: #000;
                }
            }

            .owl-prev {
                left: 30px;
            }

            .owl-next {
                right: 30px;
            }
        }
    }
}
/*-- END owl-carousel ---*/


/*-- START View Image Dialog ---*/
.view-image-dialog {
    .rnh-dialog-content {
        .rnh-dialog-title {
            padding-bottom: 18px;
            background-color: #000;

            .close-button {
                color: #fff;
            }
        }

        .rnh-dialog-main {
            background-color: #000;
            border-top: none;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;

            img {
                width: 100%;
            }
        }
    }
}
/*-- END View Image Dialog ---*/
