body {
  font-family: Lato;
}
body.boxed {
  background-color: #f9f9f9;
}
/*-- START owl-carousel ---*/
.owl-carousel .owl-dots {
  display: none;
}
.owl-carousel .owl-prev,
.owl-carousel .owl-next {
  padding-left: 8px;
}
.owl-carousel .owl-prev span,
.owl-carousel .owl-next span {
  font-size: 37px;
  color: #fff;
  line-height: 22px;
}
.owl-carousel .owl-next {
  padding-left: 5px;
}
.featured-products-carousel .owl-nav {
  display: none;
}
.product-single .owl-carousel .owl-nav {
  margin: 0 !important;
}
.product-single .owl-carousel .owl-nav [class*=owl-] {
  position: absolute;
  top: 50%;
  margin: -20px 0 0 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 0;
  font-size: 30px;
  line-height: 30px;
  border: solid 3px #232323;
  background: transparent;
  color: #232323;
}
.product-single .owl-carousel .owl-nav [class*=owl-] span {
  color: #000;
}
.product-single .owl-carousel .owl-nav .owl-prev {
  left: 30px;
}
.product-single .owl-carousel .owl-nav .owl-next {
  right: 30px;
}
/*-- END owl-carousel ---*/
